// Global styles if needed
@import 'src/styles.scss';

.all{
    display: flex;   
    height: 100vh;

   >*{
        padding: 0;
        color:$color4;
    }
    >.main{
        width: 100%;
        flex: 1;
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: scroll; /* Add vertical scrollbar */
    }
}


