// Global styles if needed

.all{
    display: flex;   
    height: 100vh;

   >*{
        padding: 0;
    }
    >.main{
        flex: 1;
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: scroll; /* Add vertical scrollbar */
    }
}


